header{
background-image:url(intro-bg.jpg);
height:100vh;
background-size:cover;
background-repeat: no-repeat;

}


h2.h2-ot{
font-weight: 400;
font-size: 38px;
color: #333;
text-transform: uppercase;

margin-top: 10px;
margin-bottom: 15px;
padding-bottom: 20px;


}

nav.own-style{
    background-color:black;

}

    .column-img-left{
background-image: url(../img/schlafzimmer1.jpg);
background-size:cover;
max-width:100%;
height:400px;

}

    #zakwat-kh{
background-image: url(../img/k-haus.jpg);
background-size:cover;
max-width:100%;
height:400px;

}

.bannerdiv{
position: relative;
}

.bottom-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color:white;
  width:100%;
  height:50px;
  opacity:.7;
  color:black;
    font-size: 30px;
    
    padding-bottom:10px;
    padding-left:10px;
    box-sizing:border-box;
}

.column-img-right{
max-width:100%;
height:400px;

}
#douche-kh{
background-image: url(../img/douche-kh.jpg);
background-size:cover;
max-width:100%;
height:300px;


}

#kueche-kh{
background-image: url(../img/kueche-kh.jpg);
background-size:cover;
max-width:100%;
height:300px;

}
#wohnz-kh{
background-image: url(../img/wohnzimmer-mit-kamin.jpg);
background-size:cover;
max-width:100%;
height:300px;


}


#pok-dom-gos{
background-image: url(../img/zp-main-1.jpg);
background-size:cover;
max-width:100%;
height:400px;
} 

#pok-dom-gos-pok{
background-image: url(../img/schlafzimmer1.jpg);
background-size:cover;
max-width:100%;
height:400px;
}
#grosses-haus2{
background-image: url(../img/grosseshaus2.jpg);
background-size:cover;
max-width:100%;
height:400px;

}

#szef{
background-image: url(../img/wald.jpg);
background-size:cover;
max-width:100%;
height:400px;
}

#ziggy{
background-image: url(../img/ziggy.jpg);
background-size:cover;
max-width:100%;
height:400px;
}

#pok-dom-wak-pok{
background-image: url(../img/schlafzimmer-kh-2.jpg);
background-size:cover;
max-width:100%;
height:400px;

}

#pok-dom-wak-sal{
background-image: url(../img/wohnzimmer-mit-kamin.jpg);
}

#k-haus-douche{
background-image: url(../img/douche-kh.jpg);
}

#pok-dom-wak-pok2{
background-image: url(../img/schlafzimmer-kh-2a.jpg);
}

#pok-dom-wak-kueche{
background-image: url(../img/kueche-kh.jpg);
background-size: cover;

transform-origin: center;

}

#zp-intro{
   background-image: url(../img/fotooszp2.png); 

}

#my-aepfelbaum{
   background-image: url(../img/aepfelbaum.jpg); 
    background-size:cover;
max-width:100%;
height:400px;
}

#my-kozy{
   background-image: url(../img/dochter-met-geitjes.jpg); 
    background-size:cover;
max-width:100%;
height:400px;
}

#pok-dom-gos-laz{
    background-image: url(../img/douche-gh.jpg);
}

#pok-dom-gos-sal{
    background-image: url(../img/wohnzimmer-gh2.jpg);
}

.features-item p{
    text-align:justify;
}

p.text-to-foto{
    font-size: 1rem;
}

figure{
    width:100%;
    
}